**problem 2**

It's enough to show that when $Y$ is binary, the squared loss is equal to the 0-1 loss

Squared loss

$$
\begin{equation}
\frac{1}{n}\sum (\hat y_i - y_i)^2
\end{equation}
$$

0-1 loss

$$
\begin{equation}
\frac{1}{n}\sum \mathbb 1(\hat y_i \neq y_i) 
\end{equation}
$$

Let $G$ via a binary $Y$. Then $\hat f(X)$ = $E[Y|X] = P(\hat y_i = y_i|X) \text{ if } Y = 1$

$$
G =
\begin{cases}
G_1 = 1 
\end{cases}
$$

In [22]:
import random
import pandas as pd

Y_1i = []
Y_0i = []
D_i = []
for _ in range(1000):
    #random numbers between 1 to 10, treated group
    Y_1i.append(random.randint(1, 10))
    #control group
    Y_0i.append(random.randint(1, 10))
    #treatment
    D_i.append(random.randint(0, 1))
    
# Creating a DataFrame
data = pd.DataFrame(list(zip(Y_1i, Y_0i, D_i)), columns=['Y_1i', 'Y_0i', 'D_i'])

# Displaying the first few rows of the DataFrame
data.head()

   Y_1i  Y_0i  D_i
0     1     2    0
1     6     7    0
2     2     4    0
3    10     2    0
4    10     4    0

In [26]:
import random
import pandas as pd

Y_1i = []
Y_0i = []
D_i = []
for _ in range(1000):
    #random numbers between 1 to 10, treated group
    Y_1i.append(random.randint(1, 10))
    #control group
    Y_0i.append(random.randint(1, 10))
    #treatment
    D_i.append(random.randint(0, 1))
    
# Creating a DataFrame
data = pd.DataFrame(list(zip(Y_1i, Y_0i, D_i)), columns=['Y_1i', 'Y_0i', 'D_i'])

# Displaying the first few rows of the DataFrame
data.head()

   Y_1i  Y_0i  D_i
0     5     1    1
1     1     9    0
2     7     1    1
3     8     6    1
4     3    10    1

In [27]:
#Change values "loc" changes the rows in place
df = data.copy()
# only add 2 to outcomes that were treated
df.loc[df['D_i'] == 1, 'Y_1i'] = df.loc[df['D_i'] == 1, 'Y_1i'] + 2
df.head()

   Y_1i  Y_0i  D_i
0     7     1    1
1     1     9    0
2     9     1    1
3    10     6    1
4     5    10    1

In [28]:
# Calculating the mean of Y_1 when D_i is 1
mean_Y_1_given_D_1 = df[df['D_i'] == 1]['Y_1i'].mean()

# Calculating the mean of Y_0 when D_i is 0
mean_Y_0_given_D_0 = df[df['D_i'] == 0]['Y_0i'].mean()

# Displaying the results
print("Mean of Y_1 when D_i is 1:", round(mean_Y_1_given_D_1, 2))
print("Mean of Y_0 when D_i is 0:", round(mean_Y_0_given_D_0, 2))
print(f"The ATE = {round(mean_Y_1_given_D_1 - mean_Y_0_given_D_0, 2)}")

Mean of Y_1 when D_i is 1: 7.59
Mean of Y_0 when D_i is 0: 5.45
The ATE = 2.14

Ans: this is not the ATE since the potential outcome for those not treated is inherently smaller (aka not the same)

part 2

In [30]:
# Calculating the mean of Y_1 when D_i is 1
mean_Y_1_given_D_1 = data[data['D_i'] == 1]['Y_1i'].mean()

# Calculating the mean of Y_0 when D_i is 0
mean_Y_0_given_D_0 = data[data['D_i'] == 0]['Y_0i'].mean()

# Displaying the results
print("Mean of Y_1 when D_i is 1:", round(mean_Y_1_given_D_1, 2))
print("Mean of Y_0 when D_i is 0:", round(mean_Y_0_given_D_0, 2))
print(f"The ATE = {round(mean_Y_1_given_D_1 - mean_Y_0_given_D_0, 1)}, which is as good as 0")

Mean of Y_1 when D_i is 1: 5.59
Mean of Y_0 when D_i is 0: 5.45
The ATE = 0.1, which is as good as 0

Problem 4

$E[\frac{1}{n}\sum E[L(x^*_i, y^*_i)|D, x^*]]$

In [ ]:
It's enough to show that when $Y$ is binary, the squared loss is equal to the 0-1 loss

Squared loss:

$$
\begin{equation}
\frac{1}{n}\sum (\hat y_i - y_i)^2
\end{equation}
$$

0-1 loss:

$$
\begin{equation}
\frac{1}{n}\sum \mathbb 1(\hat y_i \neq y_i) = \frac{1}{n}\sum 1 - \mathbb 1(\hat y_i =  y_i) 
\end{equation}
$$

$= 1 - \frac{1}{n}\sum \mathbb 1(\hat y_i \neq y_i)$ \\

$ = 1 - P(\hat y_i =  y_i|X)$

Case 1, When y is 1:

Then $P(\hat y_i =  y_i|X) = E[Y|X] = \hat y_i$